# templates/ssh_config.j2

{{ ansible_managed | comment }}

Host code.fbi.h-da.de
    Hostname code.fbi.h-da.de
    User git
    IdentityFile /root/.ssh/id_vm_bchain
    IdentitiesOnly yes

Host gitlab.com
    Hostname gitlab.com
    User git
    IdentityFile /root/.ssh/id_vm_bchain
    IdentitiesOnly yes